@page
@model MinecraftServerInfoPanel.Pages.Users.Statistics.DayModel
@{
    ViewData["Title"] = "Statystyki użytkowników";
}

<form method="get">

    <input type="hidden" asp-for="Period" value="Day" />

    <div class="form-group">
        <label for="date">Wybierz dzień:</label>
        <input type="date" asp-for="Date" value="@Model.Date.ToString("yyyy-MM-dd")">
        <button type="submit" class="btn btn-success btn-sm">Pokaż</button>
    </div>
</form>

<a asp-page="Day" asp-route-Period="Day" asp-route-Date="@Model.PreviousDay" class="btn btn-primary">Poprzedni dzień</a>
<a asp-page="Day" asp-route-Period="Day" asp-route-Date="@Model.NextDay" class="btn btn-primary">Następny dzień</a>

<br />
<br />

<h5>Czas gry użytkowników dnia: @Model.Date.ToString("yyyy-MM-dd")</h5>

<table class="table table-striped table-bordered ">
    <thead>
        <tr>
            <th>Użytkownik</th>
            <th>Czas gry</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var user in Model.ViewModel)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.PlayTimeFriendly</td>
            </tr>
        }
    </tbody>
</table>