@page
@model MinecraftServerInfoPanel.Pages.Users.Statistics.WeekModel
@{
    ViewData["Title"] = "Tygodniowe statystyki użytkowników";
}

<form method="get">

    <input type="hidden" asp-for="Period" value="Week" />

    <div class="form-group">
        <label for="date">Wybierz dzień:</label>
        <input type="week" asp-for="Week" value="@Model.Week">
        <button type="submit" class="btn btn-success btn-sm">Pokaż</button>
    </div>
</form>

@*<a asp-page="Day" asp-route-Period="Day" asp-route-Date="@Model.PreviousDay" class="btn btn-primary btn-sm">Poprzedni tydzień</a>
<a asp-page="Day" asp-route-Period="Day" asp-route-Date="@Model.NextDay" class="btn btn-primary btn-sm">Następny tydzień</a>*@

<br />
<br />

<h5>Czas gry użytkowników w tygodniu: @Model.Week</h5>
<h6>Dane posortowane od użytkownika, który grał najdłużej.</h6>

<table class="table table-striped table-bordered ">
    <thead>
        <tr>
            <th>Użytkownik</th>
            <th>Czas gry [hh/mm/ss]</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var user in Model.ViewModel)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.PlayTimeFriendly</td>
            </tr>
        }
    </tbody>
</table>
