@page
@model MinecraftServerInfoPanel.Pages.Users.IndexModel
@{
    ViewData["Title"] = "Użytkownicy";
}

@await Component.InvokeAsync("UserStatistcsMenu")
<br />

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Użytkownik</th>
            <th scope="col">Ostatni raz grał na serwerze</th>
            <th scope="col">Całkowity czas gry [hh/mm/ss]</th>
            <th scope="col">Opis</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.LastTimeOnServer</td>
                <td>@user.PlayTimeFriendlyString</td>
                <td>
                    @user.Description
                    <a asp-page="Edit"
                       asp-route-id="@user.Id"><i class="fas fa-edit"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>